body {
    background-color:black;

  }
  
  .table {
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .container {
    margin-left: auto;
    margin-top : 20px;
  }
  
  h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .searchbar{
    position: relative;
  }