{% load static %}
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>Search Book Engine</title>
        <style>
        body {
            font-family: 'Nunito', sans-serif !important;
            background: aquamarine;
            }
        </style>
</head>

{% block content %}
<div class="text-center" style="margin-top: 30px;">
    {% if form.errors %}
    {{error}}
    {% endif %}
    <form method="POST" action='{% url "story9app:acc" %}'>
        {% csrf_token %}
        <label>Username</label>
        <br>
        {{ form.username }}
        <br>
        <label>Password</label>
        <br>
        {{ form.password }}
        <br>
        <input type="submit" value="Log in" class="button">
    </form>
</div>
{% endblock %}
